@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
body {
    /* This will smoothly transition the background and text color on theme change */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}